<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <%- include('./partials/head'); %>
</head>

<body>
	<div class="container">

	<header>
		<%- include('./partials/header'); %>
	</header>

	<main>

	
		<!-- <div class="card my-5" style= "border-radius: 1em; background-color: gainsboro;"> -->
		<div class="card my-4" style="border: solid blue 1px;">

        <!-- div class="card-body py-4 px-4 px-md-5"> -->
		<div class="card-body">

		<!-- nav bar -->
		<ul class="nav nav-tabs">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#"><span class="px-2">About</span></a>
		  </li>
		</ul>

		<div class="card mx-5 my-5" style="border: none;">
		
			<h1 class="mb-4">About</h1>

			<p>A carpooling/ridesharing web application developed using Express.</p>


		</card>

    </div> <!-- card-body -->
    </div> <!-- card -->
	</main>

	<footer>
		<%- include('./partials/footer'); %>
	</footer>


	</div> <!-- container -->

</body>

</html>